################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64/Debug/SDL++.exe
/x64/Debug
/SDL++/x64/Debug
/.vs/SDL++/v15
/ipch/SDL++-25e01ac1
/SDL++.VC.db
/SDL++.VC.VC.opendb
